<ion-header>
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login to Add Your Own Events</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="credentials">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
      <ion-note slot="error">Email is invalid</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input
        type="password"
        placeholder="Password"
        formControlName="password"
      ></ion-input>
      <ion-note slot="error"
        >Password needs to be between 6 and 24 characters long.
      </ion-note>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      [disabled]="!credentials.valid"
      (click)="login()"
      >Log in</ion-button
    >
    <ion-button
      type="expand"
      expand="block"
      color="secondary"
      (click)="register()"
      >Create Account</ion-button
    >
  </form>
</ion-content>
